body,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Source Code Pro", monospace;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.menu-bg {
  background: #121420;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-info {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  align-self: center;
}

.menu-info a {
  color: #fdfcdc;
  text-decoration: none;
}

.menu-logo img {
  height: 40px;
  margin-left: 4px;
  padding: 5px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
  align-items: center;
}

.menu-nav a:hover {
  color: #00ffc3;
}

section {
  min-height: 100vh;
}

.about-bg {
  background: #1b2432;
}

.about {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  flex-wrap: wrap;
  color: #fdfcdc;
}

.about-info {
  flex: 2 1;
  margin: 0 10px;
}

.about-info h1 {
  font-size: 4em;
  margin: 2em 0em 0.5em 0em;
}

.about-info p {
  font-size: 1.9em;
  line-height: 1em;
  align-self: center;
}

.about-img {
  align-self: center;
}


.me {
  border-radius: 50%;
}

.jobs-bg {
  background: #fdfcdc;
}

.jobs {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  flex-wrap: wrap;
  color: #1b2432;
}

.jobs h1 {
  font-size: 5em;
}

/* .what-i-use-bg {
  background: #1b2432;
  color: #fdfcdc;
}

.what-i-use {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  flex-wrap: wrap;
}

.what-i-use h1 {
    font-size: 5em;
} */

.contact-bg {
  background: #121420;
}

.contact {
  max-width: 960px;
  max-height: 300px;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  flex-wrap: wrap;
  color: #fdfcdc;
}


.contact-info {
  flex: 2 1;
  margin: 0 10px;
}



.contact h1 {
  font-size: 5em;
  margin-bottom: 10px;
}

.contact p {
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
}

.contact-links {
  font-size: 1.2em;
  padding: 10px;
  align-self: center;
}

.btn {
  color: #00ffc3;
}


.footer {
  text-align: center;
  background: #00ffc3;
  color: #121420;
}
